/*--- CONTENTS ---
    
NOTES
HEADER
NAVBAR
LINKS
MAIN       centralrow, leftcol, centralcol, sidebar-nav, homerow
Buttons
IMAGES
TABLES
FOOTER
*/

/*--- $NOTES ---
    
Colours
    orange	#B63C25: toplink, navbar hoover
    light grey	#EAE9CA: sidenav, gridview alternating rows, footer
    dark	#3B0624: navbar links
    white	#FFFFFF
    grey #3F3F3F: sidebar-nav links, accessdatatables borders

<p> in centralcol
    with indentation
    class no-indent without indentation

    407F7F
    477187

    niebieski ciemny: 2B4B6F
    jasny niebieski: 52769F
    jasny zielony (linki side nav): 26CECE
    26CECE

*/

html, body { margin: 0 }

/*--- $HEADER --- */
    
.masthead {
    /*border-bottom: groove;
    border-bottom-color: #2B4B6F;
    border-top-color: #2B4B6F;*/
    background-color: #2B4B6F;
}

.masthead a {
    color: white;
}

#toplink {
    font-family: Lobster;
    padding-bottom: 0px;
}

#toptext {
    padding-bottom: 0px;
    padding-top: 30px;
    text-align: right;   
}

#toptext h5 {
     color: white;
}

/*--- $NAVBAR ---*/
    
.navbar-default {
    background-color: #FFFFFF;
    margin: 0px;
    border: 0;
    
}

.navbar-default .navbar-nav > li > a {
    color: #2B4B6F;
    font-weight: 700;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #FFFFFF;
    background-color: #2B4B6F;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
    background-color: #2B4B6F;
}

/*--- $LINKS ---*/
    
a {
  color: #3F3F3F;
} 

a:link {
    
}

a:visited {
}

a:hover {
    color: #26CECE;
    text-decoration: none;
}

a:active {
    
}

.download {
    text-decoration: none;
    /*font-weight: 700;
    font-size: 15px;
    color: #3F3F3F;
    font-style: italic;*/
}

.download:focus  {
    color: #26CECE;
    text-decoration: none;
}

.download:hover {
    color: #26CECE;
    text-decoration: none;
}

/*--- $MAIN ---*/

#centralrow {
    margin: 0px;
    min-height: 600px;
}

#leftcol {
   margin:0px;
   padding:0px;
}

#centralcol {
    margin-top: 20px;
   padding-top: 0px;
}

#centralcol > p {
    text-indent: 50px;
}

#centralcol > p.no-indent {
    text-indent: 0px;
}

.sidebar-nav {
     margin:20px 0px 20px 0;  
     padding: 5px 0px 5px 5px;
     background-color: #52769F; 
}

.sidebar-nav > li > a {
    text-decoration: none;
    font-weight: 400;
    color: #FFFFFF;
}

.sidebar-nav > li > a:hover{
   color: #69EBC4;
}

.sidebar-nav > li > a:focus {
    color: #69EBC4;
}

#homerow, #homerow2, #homerow3 {
   margin: 0px;
   position: absolute;
   width: 100%;
   padding: 0px;
}

#rightcol {
   margin-top: 20px;
   padding:0px;
}


p > cite {
    cursor: pointer;
    font-weight: 400;
    font-style: italic;
}

.lblRef {
    
}


/*--- $Buttons ---*/
    

#btnExportExcel {
    
}

/*--- $IMAGES ---*/
iframe {
  
  width: 800px;
  height: 1123px; 
  margin: 0;
  padding: 0;
  border: none;
}

#PowerBI {
 
   
}

#kiwi {
    float: right;
}

#map {
    width: 450px;
    height: 431px;
}

#chronology {
    width: 650px;
    height: 339px;
}

img.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    max-height:100%;
}

#grid {
    width: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

/*--- $HomePageImage --- */

#home {
    width:100vw;
    height:100vh;
    /*margin: 0px;
    padding: 0px;*/
}

html {
    height: 100%;
}


#sitemap {
    background-image: url('/images/homepage.jpg');
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
}

@media (max-width: 1000px) {

    #sitemap {
        background-size: 2032px auto;
    }
}

#sitemaplink {
    width: 33%;
    margin: 100px auto 0;
    background-color: white;
    opacity: 0.8;
    padding: 10px;
    text-align: center;
}

/*--- $TABLES ---*/
    

.access-data-form {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    min-width:100%;
    min-height:100%;
    /*background-color: red;*/
    border: none;
}

td {
    padding: 4px;
}
#ObjectsForm {
     width: 806px; 
    
}
td.dataform {
    padding: 8px;
    align-content: stretch;
    border: solid;
    border-width: 1px;
    border-color: #3F3F3F;
}

#tdheader {
    text-align: center; 
}

td.dataformbold {  
    padding: 8px;
    align-content: stretch;
    border: solid;
    border-width: 1px;
    border-color: #3F3F3F;
    font-weight: 600;
}

td.dataformright {
    padding: 8px;
    align-content: stretch;
    border: solid;
    border-width: 1px;
    border-color: #3F3F3F;
    text-align: right;
     
}
/*--- $FOOTER ----*/
    

.panel-footer.panel-custom {
    background-color: #EAE9CA;
    border-color: #EAE9CA;
    margin-top: 15px;
    height: auto;
}

.p-footer {
    color: #3F3F3F;
    text-align: center;
    font-style: italic;
    margin: 0px;
}

.p-footer > a:hover {
    color: #B63C25;
    text-decoration: none;
}
/*--- $LOOKUP-BOX ---*/
    

.lookup-box {
    background-color: #FFFFFF;
    /*height: 45px;*/
    /*padding: 5px;*/
    margin: 2px;
    display: block;
}

#txbFindAuthor {
    
}

